useDynLib(SPARK, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)

import(doParallel)
import(foreach)
import(parallel)
import(CompQuadForm)
import(Matrix)

importFrom(matlab,ones)
importFrom(pracma,pinv)
importFrom(stats,as.formula)
importFrom(stats,coef)
importFrom(stats,cor)
importFrom(stats,nls)
importFrom(stats,pchisq)
importFrom(stats,na.pass)
importFrom(stats,glm)
importFrom(stats,model.frame)
importFrom(stats,na.omit)
importFrom(stats,p.adjust)
importFrom(stats,poisson)
importFrom(stats,qunif)
importFrom(stats,qqnorm)
importFrom(stats,qchisq)
importFrom(stats,pnorm)
importFrom(stats,rnorm)
importFrom(stats,runif)
importFrom(stats,sd)
importFrom(stats,dist)
importFrom(stats,lm)
importFrom(stats,resid)
importFrom(stats,pcauchy)
importFrom(stats,model.matrix)
importFrom(stats,var)
importFrom(stats,median)
importFrom(utils,globalVariables)
importFrom(utils,installed.packages)
importFrom(utils,packageVersion)
importFrom(utils,read.table)
importFrom(utils,setTxtProgressBar)
importFrom(utils,txtProgressBar)
importFrom("methods", "as", "new", "is")
importFrom("stats", "quantile")